.btn-medium {
  border: 1px solid #0F720D;
  padding: 8px 24px;
  border-radius: 56px;
  color: #0F720D;
}

.btn-medium:hover {
  border: 1px solid #0a2f0a;
  color: #0a2f0a;
  transition: 1s;
}

.btn-airbnb {
  color: white;
  padding: 8px 24px;
  background-color: #F12753;
  border-radius: 4px;
}

.btn-airbnb:hover {
  background-color: #a427f1;
  transition: 1s;
}