.card-category {
  color: white;
  height: 300px;
  border-radius: 4px;
  box-shadow: 0 0 16px rgb(0 0 0 / 30%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  text-shadow: 0 0 4px rgb(0 0 0 / 30%);
}

.card-product {
  box-shadow: 0 0 16px rgb(0 0 0 / 30%);
  background-color: white;
  display: flex;
  align-items: center;
}

.card-product img {
  height: 120px;
  width: 120px;
  object-fit: cover;
  margin-right: 16px;
}

.card-product h2, .card-product p {
  margin: 0;
}

.card-trip {
  background-color: white;
  box-shadow: 0 0 16px rgb(0 0 0 / 30%);
  margin-bottom: 24px;
}

.card-trip img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 100%;
}

.card-trip-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 16px;
}

.card-trip-footer p, .card-trip-footer h2 {
  margin: 0;
}