.container {
  width: 800px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .container {
    width: 600px;
  }
}

@media (max-width: 700px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 600px) {
  .container {
    width: 300px; 
  }
}